body {
  background-image: url("Assets/santuario fondo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

@font-face {
    font-family: "Pixel";
    src: url("Assets/The Wild Breath of Zelda.otf") format("truetype");
}

h1 {
    font-family: "Pixel";
    color: #0959ec;
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000;
}

H2 {
    font-family: "Pixel";
    color: #64e90c;
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px 4px #000000;
}

p {
    font-family: "Pixel";
    color: #ffffff;
    text-align: left;
    font-size: 20px;
    text-shadow: 2px 2px 4px #000000;
}
.Alinear_flex {
  height: 25vh;
}

.cont-Temporizador {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.cont-Temporizador .bloque {
  display: flex;
  margin: 0 4px;
  flex-direction: column;
  align-items: center;

}

.cont-Temporizador .bloque div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #07acee;
  box-shadow: 0px 0px 6px 2px #07acee inset;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  height: 80px;
  width: 80px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.cont-Temporizador .bloque p {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}